* {
  padding: 0;
  margin: 0;
  font-family: "Cutive Mono", monospace;
  font-weight: 700;
  background-color: transparent;
}

body {
  background-image: url("../media/fb61e70c492df4c86e7c24bce9ea92ab.gif");
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
}

.background {
  background-color: transparent;
  background-image: url("../media/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}

#canvas {
  position: absolute;
  top: 55px;
  left: 70px;
  background-color: #f7eae4;
}

.paint {
  position: absolute;
  top: 43px;
  left: 482px;
  background-image: url("../media/fondocanvas.png");
  background-repeat: no-repeat;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  z-index: 2;
}

.controles {
  position: absolute;
  top: 375px;
  left: 500px;
  display: flex;
  align-items: center;
  background-color: #f7eae4;
  justify-content: space-around;
  width: 400px;
  height: 55px;
  border-radius: 1.3rem;
  z-index: 2;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 50%;
  height: 5px;
  background: #c2a290;
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s;
  border-radius: 2rem;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 2rem;
  background: #a34d4d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 2rem;
  background: #ad758d;
  cursor: pointer;
}

.sonidos {
  position: absolute;
  top: 550px;
  display: flex;
  flex-direction: column;
  left: 1130px;
  z-index: 2;
}

.botones {
  border: solid 2px #be7175;
  background-color: rgba(202, 174, 154, 0);
  margin: 2px;
  width: 150px;
  font-size: 1.2rem;
  color: #be7175;
  padding: 2px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

button {
  border: solid 2px #be7175;
  border-radius: 2rem;
  background-color: rgba(202, 174, 154, 0);
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  color: #be7175;
}
button:hover {
  cursor: pointer;
  background-color: #c2a290;
}

input[type=color i] {
  border-radius: 2rem;
  background-color: transparent;
  border: 0;
  width: 40px;
  height: 40px;
}
input[type=color i]:hover {
  cursor: pointer;
}

.texto {
  position: absolute;
  top: 115px;
  left: 140px;
  background-image: url(../media/fondotexto.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-attachment: unset;
  width: 310px;
  height: 250px;
  z-index: 2;
}
.texto p {
  font-weight: 500;
  font-size: 1rem;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 60px;
  margin-left: 10px;
}
.texto p::before, .texto p::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.texto p::before {
  background-color: #ebe4de;
  -webkit-animation: typewriter 6s steps(24) 1s forwards;
          animation: typewriter 6s steps(24) 1s forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.texto p::after {
  width: 0.1em;
  background: rgba(0, 0, 0, 0.7490196078);
  -webkit-animation: typewriter 6s steps(24) 1s forwards, blink 0.5s steps(24) infinite;
          animation: typewriter 6s steps(24) 1s forwards, blink 0.5s steps(24) infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@-webkit-keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}